*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Amazon Ember', sans-serif;
    background-color: #1f1f36;
}

.nav{
    position: fixed;
    justify-content: space-between;
    background-color: #302f4a;
    display:inline-flex;
    height: 8vh;
    width: 100vw;
}
ul li{
    display: inline-block;
}
li{
    font-size:x-large;
    color: whitesmoke;

}

.menu{
    margin-left: 25px;
    margin-top: 10px;
    display: inline-flex;
}
.magni{
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-top: 7px;
    float: right;
}
p{
    color: white;
    font-size: larger;
}
.movies{
    margin-left: 50px;
}
.box{
    position: relative;
    border-radius: 15px;
}

.box:hover{
    transition: .5s;
    transform: scale(1.1);
}
.rating{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.rating:hover{
    opacity: 1;
    backdrop-filter: blur(5px);
}